.registerForm {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    gap: 10px;
    margin: 10px auto;
    &Input {
      height: 10px;
      outline: none;
    }
    &Button {
      width: 100px;
      height: 20px;
      background-color: #ffffff;
      border: none;
      outline: none;
      border-radius: 20px;
    }
    &Label {
      font-size: 11px;
      display: flex;
      flex-direction: column;
      width: 250px;
    }
  }
  